:root {
	--primary-bg-color: #ededed;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

body header {
	background-color: var(--primary-bg-color);
}

body main {
	flex: 1;
}

body footer {
	background-color: var(--primary-bg-color);
}