*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0; 
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body .content {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

header {
    background-color: red;
}

main {
    flex: 1;
    background-color: aqua;   
}

main article {
    background-color: azure;
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 20px;
}

footer {
    background-color: red;
}


/* always put @media rule last */
@media (min-width: 768px) {
   main.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
   }
}

@media (min-width: 1024px) {
    main.content {
    grid-template-columns: 1fr 1fr 1fr;
    }
}